#links li{
    padding-bottom: 6px;
}

/* Style the tab */
.tabmenu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tabmenu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 14px 16px; */
    padding: 14px 16px;
    transition: 0.3s;
    /* font-size: 17px; */
    font-size: 14px;
  }
  
  /* Change background color of buttons on hover */
  .tabmenu button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabmenu button.active {
    background-color: #ccc;
  }

  .top-row {
    display: flex;
  }

  .bottom-row {
    display: flex;
  }